@import "tailwindcss";

@theme {
  --font-sans: 'Kanit', sans-serif;
  --color-primary: #1E3A8A; /* Dark Blue */
  --color-primary-dark: #1e40af; /* Darker Blue */
  --color-primary-light: #2563eb; 
  --color-surface: #F8FAFC; /* Light gray/blue tint for background */
}

@layer base {
  body {
    @apply text-slate-800 bg-surface;
  }
}
